<!DOCTYPE html>
<html lang="en" data-ng-app="Exe01">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
</head>
<body>
    <label for="titulo">Titulo da página:
        <input  data-ng-model="titulo" type="text">
    </label>
    <br>
    <label for="nome">Seu Nome:
        <input type="text" data-ng-model="nome">
    </label>
    <p>Olá, {{nome}}. <br>Está gostando de aprender AngularJs?</p>
    <script src="../angular.min.js"></script>
    <script>
        angular.module('Exe01', []);
    </script>
</body>
</html>